body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgContainer {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  /* border: 5px solid rgba(205, 205, 205, 0.5); */
  filter: drop-shadow(0 0 0.75em rgb(78, 32, 32));
}
/* * + .imgContainer {
  margin: 20px auto;
} */
.title {
  text-align: center;
}
.title > h1 {
  margin: 10px auto;
}
.title > p {
  margin: 0;
}
.title > h2 {
  margin: 25px auto 0;
}
.btn {
  padding: 17px 30px;
  border: 3px solid rgb(128, 0, 0);
  border-radius: 10px;
  margin: 20px auto 0;
  width: 100%;
  max-width: 350px;
  background: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.65s;
}
.btnSelectDrink {
  background: rgb(78, 32, 32);
  border: 3px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.95);
}
.btn:hover {
  cursor: pointer;
}
.btnSelectDrink:hover,
.btnRandom:hover {
  border: 3px solid rgb(128, 0, 0);
  background-color: rgb(128, 0, 0, 0.25);
  color: black;
}

.mainContainer {
  border-top: 5px solid rgb(128, 0, 0);
  border-bottom: 5px solid rgb(128, 0, 0);
  min-height: 50vh;
  margin: 20px 50px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .mainContainer {
    margin: 30px 100px;
    padding: 40px;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    margin: 30px 250px;
    padding: 30px;
  }
}
@media (min-width: 1500px) {
  .mainContainer {
    max-width: 950px;
    margin: auto;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
}
.drinksList {
  /* padding: 17px 30px;
  border: 3px solid rgb(128, 0, 0);
  border-radius: 10px;
  margin: 20px auto 0;
  width: 100%;
  max-width: 350px; */

  width: 90%;
  max-width: 350px;
  padding: 10px 30px;
  margin: 0 auto;
}
.drinkInfoContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.drinkName {
  font-weight: 600;
  font-size: 1.2em;
  margin: 20px 0;
}
.ingredients {
  display: block;
  padding: 20px;
  line-height: 1.5em;

  text-align: start;
  border-top: 1px dashed rgb(176, 176, 176);
  border-bottom: 1px dashed rgb(176, 176, 176);
}
.recipe {
  padding: 20px 10px;
  max-width: 700px;
  line-height: 1.7em;
}
@media (min-width: 768px) {
}
