body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 200px;
  height: auto;
}
.title {
  text-align: center;
}
.title > h1 {
  margin: 10px auto;
}
.title > p {
  margin: 0;
}
.title > h2 {
  margin: 25px auto 0;
}
.button {
  padding: 17px 30px;
  border: 3px solid rgb(128, 0, 0);
  border-radius: 10px;
  margin: 40px auto 0;
  width: 100%;
  max-width: 350px;
  background: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  font-weight: 600;
}
.mainContainer {
  border-top: 5px solid rgb(128, 0, 0);
  border-bottom: 5px solid rgb(128, 0, 0);
  min-height: 60vh;
  margin: 20px 50px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .mainContainer {
    margin: 30px 100px;
    padding: 40px;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    margin: 30px 250px;
    padding: 30px;
  }
}
@media (min-width: 1500px) {
  .mainContainer {
    max-width: 950px;
    margin: auto;
  }
}
.drinkInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.drinkName {
  font-weight: 600;
  font-size: 1.2em;
  margin: 20px 0;
}
